
.all_button{
	background-color:black;
	border-radius: 70px;
}

a.btn {
 
    -moz-appearance: button;
    appearance: button;
    border-radius: 70px;

}



#topbar{
	background-color: rgba(0, 0, 0, 0.5);


}

.s_u_d{
	text-align: center;
	padding: 10px;
	margin: 5px;

	margin-left: 350px;

    width: 40%;
    border: 3px solid #73AD21;

	
}


.white{
	background-color: grey;
	color: white;
    width: 250px;
	padding: 10px;
	text-align: center;
	margin-left: 485px;
}


.signupbg{
background-image: url('givingback.jpg');
	background-size: cover;
	position: absolute;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;	
	z-index: -1;


}

.surb{
	text-align: center;
}

.surc{
	text-align: center;
	padding: 10px;
	margin: 5px;

	margin-left: 350px;

    width: 40%;

}

#sura{
	text-align: center;
	margin-left: 595px;

}


.surd{
	text-align: center;
	margin-right: 60px;
}

.sur{
	

	text-align: center;
	padding: 10px;
	margin: 5px;

	margin-left: 350px;

    width: 40%;
    border: 3px solid #298de2;
}


.mylocationc{
	background-color: grey;
	color: white;
    width: 100px;
	text-align: center;
	margin-left: 570px;

}

.chooseareap{
	width: 100px;
	text-align: center;
	margin-left: 550px;


}

.submitmid{
	width: 100px;
	text-align: center;
	margin-left: 570px;

}


#bg_s_u_d{
	position: absolute;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;	
	z-index: -1;
	background-image: url('vegetables.jpg');
	background-size: cover;

}


#pic1{
	position: absolute;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;	
	z-index: -1;
	webkit-filter:blur(20px);
	filter:blur(5px);
	background-image: url('pic1.jpg');
	background-size: cover;
	opacity: 0.5;
}

#contentud{
	background-image: url("donations.jpg");
	background-size: cover;
	position: fixed;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;
	z-index: -1;

}
.bgrealfeed{
	background-color: lightblue;
	background-repeat: repeat-y;
	position: fixed;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;
	z-index: -1;

}

.container {
	width: 80%;
	margin: auto;
	margin-top: 0px;
	background-color: white;
}

.middlethingy{
	text-align: center;
	font-style: italic;
}

.logo{
	width: 80px;
	height: 80px;
}

.right{
	float: right;

}

.mybar{
	position: fixed;	
}