<!DOCTYPE html>
<html>
    <head>
        <title>my account</title>
        <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>

    <body>
        <div id="contentud"></div>
        <a href="{{url_for('home_sign_in')}}"><button class="btn btn-primary main_bar all_button"  type="button" >Home</button></a>
        {%if donor%}
            <a href = "{{url_for('feed')}}"><button class="btn btn-primary main_bar all_button"  type="button" >My Account</button></a>
        {%elif reciever%}
            <a href = "{{url_for('account_reciever')}}"><button class="btn btn-primary main_bar all_button"  type="button" >My Account</button></a>
        {%endif%}
        <a href="{{url_for('recieverfeed')}}"> <button class="btn btn-primary main_bar all_button"  type="button" >View All Donations</button></a>
        <a href="{{url_for('logout')}}"> <button type="button" class="btn btn-primary main_bar all_button">Log Out</button> </a> <br>
        <h3>Hello {{reciever.reciever_name}}</h3>
        <h1>uplode a new request</h1>
        <form method="POST" action="/my_requests">
            <input type="text" name="request_name" placeholder="what food?">
            <br>
            Amount of dishes:
            <input type="number" name="amount" min="1">
            <br>
            <br>
            <input type="submit" name="submit">
        <h1>my uploaded requests</h1>
        {% for request in myrequests %}
    <p>
        <a href="{{url_for('requests', request_id=request.request_id)}}">{{request.name}}</a><br>
        amount: {{request.amount}}<br>
    </p>
    {% endfor %}


    </body>
</html>
