<!DOCTYPE html>
<html>
	<head>
		<title>donation </title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		       <a href="{{url_for('home_sign_in')}}"><button class="btn btn-primary main_bar all_button"  type="button" >Home</button></a>
        {%if donor%}
            <a href = "{{url_for('feed')}}"><button class="btn btn-primary main_bar all_button"  type="button" >My Account</button></a>
            <a href="{{url_for('request_feed')}}"> <button class="btn btn-primary main_bar all_button"  type="button" >View All Requests</button></a>
        {%elif reciever%}
            <a href = "{{url_for('account_reciever')}}"><button class="btn btn-primary main_bar all_button"  type="button" >My Account</button></a>
        {%endif%}
        <a href="{{url_for('recieverfeed')}}"> <button class="btn btn-primary main_bar all_button"  type="button" >View All Donations</button></a>
        <a href="{{url_for('logout')}}"> <button type="button" class="btn btn-primary main_bar all_button">Log Out</button> </a> <br>


        
		<div class="almostdonewithdiv">
		<div id='toomuch'>
		<h1>Name: {{donation.name}}</h1> <br>
	</div>
		amount of dishes: {{donation.amount}}<br>
		Expiration Date: {{donation.expiration_date}}<br>
		Donor's Email: {{donation.donor.email}} <br>
		Donor's area: {{donation.donor.area}} <br>
		Donor's address: {{donation.donor.address}} <br>
		Donor's phone number: {{donation.donor.telephone}} <br>
		<p><a href="{{url_for('edit_donation',food_name=donation.name, food_id=donation.donation_id)}}">Edit</a></p>
		<p><a href="{{url_for('delete_donation_route',donation_id=donation.donation_id)}}">Delete</a></p>
	</div>
	</body>
</html>
