    <!DOCTYPE html>
    <html>
        <head>
            <title> edit donation</title>
            <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        </head>

        <body>
                           <a href="{{url_for('home_sign_in')}}"><button class="btn btn-primary main_bar all_button"  type="button" >Home</button></a>
            {%if donor%}
                <a href = "{{url_for('feed')}}"><button class="btn btn-primary main_bar all_button"  type="button" >My Account</button></a>
                <a href="{{url_for('request_feed')}}"> <button class="btn btn-primary main_bar all_button"  type="button" >View All Requests</button></a>
            {%elif reciever%}
                <a href = "{{url_for('account_reciever')}}"><button class="btn btn-primary main_bar all_button"  type="button" >My Account</button></a>
            {%endif%}
            <a href="{{url_for('recieverfeed')}}"> <button class="btn btn-primary main_bar all_button"  type="button" >View All Donations</button></a>
            <a href="{{url_for('logout')}}"> <button type="button" class="btn btn-primary main_bar all_button">Log Out</button> </a> <br>



            
        	<div class="almostdonewithdiv">

            <div class="fonts">
            <form action="/edit_donation/{{donation_id}}" method="post" >
                <!-- <input type="text" name="donation_name" placeholder="dishes' name"> -->
                Description:
                {{name}}

                <br>
                Amount of dishes:
                <input type="number" name="amount" min="1">
                <br>
                expiration date:
                <input type="date" name="expiration_date">
                <br>
                <br>
                <input type="submit" name="submit">
            </div>
            </div>
            </form>
        </body>
    </html>
