<!DOCTYPE html>
<html>
    <head>
        <title>donation</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div id="contentud"></div>
        <h3>Hello {{donor.name}}</h3>
        <a href="{{url_for('logout')}}" <button type="button" >Log Out</button> </a> <br>
        <a href="{{url_for('request_feed')}}"> <button class="btn btn-primary main_bar all_button"  type="button" >View All Requests</button></a>
        <a href="{{url_for('recieverfeed')}}" <button type="button" >view all the other donations</button> </a>
        <h1>uplode a new donation</h1>
        <h4>if your donation's expiration date passed, your donation will disapear</h4>
        <form method="POST" action="/my_donations">
            <input type="text" name="donation_name" placeholder="dishes' name">
            <br>
            Amount of dishes:
            <input type="number" name="amount" min="1">
            <br>
            expiration date:
            <input type="date" name="expiration_date">
            <br>
            <br>
            <input type="submit" name="submit">
        <h1>my uploaded donations</h1>
        {% for donate in mydonations %}
    <p>
        <a href="{{url_for('donation', donation_id=donate.donation_id)}}">{{donate.name}}</a><br>
        amount: {{donate.amount}}<br>
	    Expiration Date: {{donate.expiration_date}}<br><br>
        <!-- figure out the names of the variables -->
    </p>
    {% endfor %}


    </body>
</html>
