<!DOCTYPE html>
<html>
    <head>
        <title>Feed</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>food donations</h1>
        {% for donate in donates %}
    <p>
	    Name: {{Donation.name}}</a><br>
        amount: {{Donation.amount}}</a><br>
	    Expiration Date: {{Donation.expiration_date}}<br>
        <!-- figure out the names of the variables -->
    </p>
    {% endfor %}
    </body>
</html>
