<!DOCTYPE html>
<html>
    <head>



        <!-- Required tags to make the website responsive-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Add Bootstrap CSS to the page -->
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">




        <title>Food Secure</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        <div class=main_bar>
        
        
        <button class="btn-rounded" type="button", name = "home", class="main_bar">Home</button>
    
        <br>
        <input type="text" name="email" placeholder="email", class = "main_bar">
        <input type="text" name="password" placeholder="password", class="main_bar">
    </div>
        <h1>Using all the food we made</h1>
        <br>
        <a href = "http://127.0.0.1:5000/signup_donor", class = "button", id = "donor">Sign up as a food donor</a>
        <a href="http://127.0.0.1:5000/signup_reciever", class = "button", id = "reciever">Sign up as a food reciever</a>
        <br>
        <br>
        <img src = "{{ url_for('static', filename='homepageimg.jpg')}}" width="200px" height="150px">
        <!-- change the dimensions of the image and put the buttons on top of it -->
        <h2>Some Facts About Food Security:</h2>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    


       <!-- Add JQuery and Bootstrap JS to the page -->
       <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
       <script src="{{ url_for('static', filename='jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>



    </body>
</html>
