<!DOCTYPE html>
<html>
    <head>
        <title>Food Secure</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <button type="button", name = "home">Home</button>
        <br>
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">
    </head>
    <body>
        <h1>Using all the food we made</h1>
        <br>
        <a href = "http://127.0.0.1:5000/signup_donor", class = "button", id = "donor">Sign up as a food donor</a>
        <a href="http://127.0.0.1:5000/signup_reciever", class = "button", id = "reciever">Sign up as a food reciever</a>
        <br>
        <br>
        <img src = "{{ url_for('static', filename='homepageimg.jpg')}}" width="200px" height="150px">
        <!-- change the dimensions of the image and put the buttons on top of it -->
        <h2>Some Facts About Food Security:</h2>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </body>
</html>
