<!DOCTYPE html>
<html>
<head>
    <title>donation <int:Donation.id></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
    <div class='bgrealfeed'></div>
    <div class="container">
        <div class="middlethingy">
        <h3>Hello {{reciever.reciever_name}}</h3>
        <a href="{{url_for('logout')}}" <button type="button">Log Out</button> </a>
        <br>
        <h1>Feed</h1>
    </div>
        {% for donate in donates %}
        
        <div class="card" style="width: 18rem; {% if donates.index(donate) % 2 == 0  %} background-color: #96b2dd; {% endif %}">
            <div class="card-body">


                <p class="card-text">
                    <a href="{{url_for('reciever_donation', donation_id=donate.donation_id)}}">
                    {{donate.name}}</a><br>
                    amount: {{donate.amount}}<br>
                    Expiration Date: {{donate.expiration_date}}<br><br>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
