<!DOCTYPE html>
<html>
    <head>
        <title>sign up as a food donor</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    	<div class='signupbg'>
    		<div class="surb">
				<h1>sign up as a reciever</h1>
			</div>
			<form method="post">
			<input class="sur" type="text" name="reciever_name" placeholder="Reciever Name">
			<br>
			<input class="sur" type="email" name="email" placeholder="email">
			<br>
			<input class="sur" type="password" name="password" placeholder="Password">
			<br>
			<br>
			<div class="surc">
				My Location
			</div>
			<br>
			<div class='surd'>
				<select name="area">
					<option>choose an area</option>
					<option value="North">North</option>
					<option value="Haifa">Haifa</option>
					<option value="Tel_Aviv">Tel Aviv</option>
					<option value="Jerusalem">Jerusalem</option>
					<option value="Judea_and_Samaria">Judea and Samaria</option>
					<option value="South">South</option>
				</select>
			</div>
			<br>
			<br>
			
			<input class="sur" type="text" name="telephone" placeholder="Telephone Number">

			<br>
			<br>
			<input id='sura' type="submit" name="submit">
			</form>
		</div>
    </body>
</html>
