<!DOCTYPE html>
<html>
	<head>
		<title>sign up as a food donor</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>

	
	<body>

		
		<h1 class="white">sign up as a donor</h1>
		<form method="post" action="/signup_donor">
			
			
			<input class="s_u_d" type="text" name="donor_name" placeholder="Donor Name">
			<br>
			<input class="s_u_d" type="email" name="email" placeholder="Email">
			<br>
			<input class="s_u_d" type="password" name="password" placeholder="Password">
			<br>
			<br>
			<div class="mylocationc">
			My location
			</div>
			<br>
			<div class="chooseareap">
			<select name="area">
				<option>choose an area</option>
				<option value="North">North</option>
				<option value="Haifa">Haifa</option>
				<option value="Tel_Aviv">Tel Aviv</option>
				<option value="Jerusalem">Jerusalem</option>
				<option value="Judea_and_Samaria">Judea and Samaria</option>
				<option value="South">South</option>
			</select>
			</div>
			<br>
			<br>
			<input class="s_u_d" type="text" name="address" placeholder="Address">
			<br>
			<input class="s_u_d" type="text" name="telephone" placeholder="Telephone Number">
			<br>
			<br>
			<div class="submitmid">
			<input type="submit" name="submit">
			</div>
		</div>
			<div id='bg_s_u_d'></div>
		</form>
	</body>

</html>
